<h2><%= "#{@another_entry.user.name}さんとのチャット" %></h2>

<% @messages.each do |message| %>
  <table>
    <td><%= message.body %></td>
  </table>
<% end %>

<%= form_with model: @message do |f| %>
  <%= f.text_field :body %>
  <%= f.hidden_field :room_id, value: @room.id %> 
  <%= f.submit %>



<% end %>